 *{

    font-size: 20px;
    font-family: sans-serif;
    color: gold;
    margin: auto;
    
 }



 body{
   background-image: url("./starwars-backdrop.jpg");
 }
   

 p {
    margin: 10%;
}



button{
    display:flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    background: transparent;
    border: transparent;
    border-radius: 30px 30px 30px 30px;
    height: 40px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 70px;
    color: red;
     } 

  button:hover{
    background-color: rgba(255, 255, 255, 0.637);
    box-shadow: rgba(0, 158, 226, 0.747) 0px 0px 10px 10px; 
    width: 700px;
    transition: width .4s ease-out;
    display:flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    
  }


  .hidden {
    display: none;
  }

  .saber{
    display:flex;
    flex: auto;
    flex-direction: column;
    justify-self: right;
    margin-right: 0;
    
  }


  .start-screen {
    display: block;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    

  }

 
  .game-screen {
    display: block;
    
  }


.header{
  margin: 35px;
  font-size: 60px;
  font-weight: bold;
  justify-content: center;

}

.flex{
  display: flex;
  flex-direction: row;
}

header .header {
  font-size: 40px;
}

.no-margin-right{
  margin-right: 0;
}

.no-margin-left{
  margin-left: 0;
}

.input1{
  align-items: center;
}

.time {
  flex: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  line-height: 40px;
  color: red;
  }
  #game-question{
    flex: auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  #gameStarter{
    flex: auto;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    color: white;
  } 

  #score{
    flex: auto;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 40px;
  }

  .input1{
    flex: auto;
    display: flex;
    justify-content: center;
  }


 